# Tailwind standalone binary tool. This tool is needed to
# generate the website build, but the binary is platform-specific,
# so each developer needs to bring in the relevant binary.
tailwindcss

# Build output
/build

# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Android Studio and IntelliJ IDEA
.idea

.DS_Store
