<!doctype html>

<html lang="en">
<head>
  {{ components.google_analytics() }}

  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ components.favicon() }}

  <!-- Open Graph Social Media -->
  <meta property="og:url" content="{{ homepage_url }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:image" content="{{ homepage_url }}/images/branding/social.png" />
  <meta property="og:type" content="website" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@SuprDeclarative" />
  <meta name="twitter:url" content="{{ homepage_url }}" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="{{ homepage_url }}/images/branding/social.png" />

  <link href="/styles/tailwind.css" rel="stylesheet">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/obsidian.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/dart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/glsl.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/yaml.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/bash.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>

<body class="bg-[#27b6d6]">
  <header class="py-[64px] flex flex-col justify-center items-center bg-[#FFFFFF] text-[#444444]">
    <div class="absolute top-0 left-0 w-full h-[48px] flex justify-center items-center">
      <a href="/" class="text-[#444444] text-sm font-bold uppercase">Flutter Shaders</a>
    </div>

    <div class="max-w-[800px] text-center">
      <h1 class="text-4xl font-bold uppercase mb-4">{{ title }}</h1>
      <p class="text-xl text-[#666666]">{{ description }}</p>
    </div>
  </header>

  <main class="ml-[auto] mr-[auto] max-w-[800px] py-[72px] px-[48px] text-[#FFFFFFDD]">
    <div class="prose prose-lg prose-invert max-w-none">
      {{ content }}
    </div>
  </main>
</body>
</html>