html, body {
  font-size: 14px;
  line-height: 1.4rem;
}

.content {
  background: WHITE;
  padding: 24px;

  color: BLACK;

  & > :first-child {
    margin-top: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.25rem;
  }

  p, li {
    margin-bottom: 0.75rem;
  }

  img, pre {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.15rem;
  }

  h6 {
    font-size: 1rem;
  }
}